.navigation {
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 8vh;
  @include media("tablet") {
    height: 13vh;
  }

  &__logo {
    z-index: 8;
    width: 60px;
    height: 40px;
    img {
      height: 400%;
      width: 400%;
      vertical-align: middle;
      transform: scale(0.25);
      transform-origin: 0 0;
      @include media("tablet") {
        width: 400%;
      }
    }
    @include media("tablet") {
      margin-left: 2rem;
      width: 40px;
      height: 50px;
    }
  }

  &__links {

    position: block !important;

    margin: 1rem 0;

    @include media("tablet") {
      margin: 0;
    }

    a {
      transition: all ease 0.3s;
      border-radius: 20px;
    }

    &--forestando {
      color: $green;
    }

    &--roxanne {
      color: $red;
    }

    &--projects {
      color: $blue;

    }
  }
}

.navigation-forestando {
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 8vh;
  background-color: $organic;
  @include media("tablet") {
    height: 13vh;
  }


  &__logo {
    z-index: 8;
    width: 60px;
    height: 40px;
    img {
      height: 400%;
      width: 400%;
      vertical-align: middle;
      transform: scale(0.25);
      transform-origin: 0 0;
      @include media("tablet") {
        width: 400%;
      }
    }
    @include media("tablet") {
      margin-left: 2rem;
      width: 40px;
      height: 50px;
    }
  }

  &__links {

    position: block !important;
    margin: 1rem 0;

    @include media("tablet") {
      margin: 0;
    }

    a {
      transition: all ease 0.3s;
      border-radius: 20px;
    }

    &--forestando {
      color: $green;
    }

    &--roxanne {
      color: $red;
    }

    &--kam {
      color: #dad421;
    }

    &--projects {
      color: $blue;

    }
  }
  
  #menu {
    z-index: 2;
  }
  .menu-bar-contanier{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include media('tablet') {
      height: 13vh;
    }
  }
  
  #menu-bar {
    width: 35px;
    height: 50px;
    cursor: pointer;
    margin: 23px 16px 0;
    left: 0;
  
    @include media("tablet") {
      width: 40px;
      margin: 45px 2rem;
    }
  }
  
  .bar {
    height: 3px;
    margin-bottom: 3px;
    width: 100%;
    background-color: $brand;
    display: block;
    border-radius: 10px;
    transition: 0.3s ease;
    @include media('tablet') {
      height: 3px;
      margin-bottom: 4px;
    }
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
    height: 70vh;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .nav ul {
    padding: 0 1rem;
    @include media('tablet') {
      padding: 0 2rem;
    }
    margin: 0;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease;
    background: $leave;
  }
  
  .nav li {
    list-style: none;
    transition: 1s ease;
  }
  
  .nav li a {
    font-size: 50px;
    text-decoration: none;
    transition: 1s ease;
    letter-spacing: -3px;
    @include media("tablet"){
      font-size: 70px;
    }
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: $leave;
  }
  
  .change {
    display: block;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  // .change > ul {
  //   visibility: hidden;
  //   opacity: 0;
  //   transition: visibility 0s, opacity 0.5s linear;
  // }
  
  // .change:hover > ul {
  //   visibility: visible;
  //   opacity: 1;
  // }
  
  .change + .nav {
    transition: .3s ease;
  }
  
  .change .bar {
    background-color: $brand;
  }
  
  .change #bar1 {
    transform: translateY(7px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-5px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 100%;
    height: 100vh;
  }
  
  .admin {
  
    img {
        width: 100%;
    max-width: 200px;
    height: auto;
    }
  
  }
  
  .forest {
    color: #36723E;
  }
  
  .ando {
    color: #36723E;
    color: #86A54F;
  }
  
}

#menu {
  z-index: 2;
}
.menu-bar-contanier{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#menu-bar {
  width: 35px;
  height: 50px;
  cursor: pointer;
  margin: 23px 16px 0;
  left: 0;

  @include media("tablet") {
    width: 40px;
    margin: 45px 2rem;    
  }
}

.bar {
  height: 3px;
  margin-bottom: 3px;
  width: 100%;
  background-color: #fff;
  display: block;
  border-radius: 10px;
  transition: 0.3s ease;
  @include media('tablet') {
    height: 3px;
    margin-bottom: 4px;
  }
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
  height: 70vh;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav ul {
  padding: 0 1rem;
  @include media('tablet') {
    padding: 0 2rem;
  }
  margin: 0;
  height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 1s ease;
  background: #000;
}

.nav li {
  list-style: none;
  transition: 1s ease;
}

.nav li a {
  font-size: 50px;
  text-decoration: none;
  transition: 1s ease;
  letter-spacing: -3px;
  @include media("tablet"){
    font-size: 70px;
  }
}

.menu-bg, #menu {
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: $black;
}

.change {
  display: block;
  transition: visibility 0s, opacity 0.5s linear;
}

// .change > ul {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s, opacity 0.5s linear;
// }

// .change:hover > ul {
//   visibility: visible;
//   opacity: 1;
// }

.change + .nav {
  transition: .3s ease;
}

.change .bar {
  background-color: #fff;
}

.change #bar1 {
  transform: translateY(7px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-5px) rotateZ(45deg);
}

.change-bg {
  width: 100%;
  height: 100vh;
}

.admin {

  img {
      width: 100%;
  max-width: 200px;
  height: auto;
  }

}

.forest {
  color: #36723E;
}

.ando {
  color: #86A54F;
}

.kam {
  color: #EEC428;
}



#svg {
  width: 70px;
  height: 70px;
  div {
    position: relative;
    transform: scale(0.25);
    transform-origin: 0 0;
    height: 100%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 400%;
      height: 400%;
      background-image: url(http://svgshare.com/i/1Le.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.test-safari {
  width: 70px;
  height: 70px;
  img {
    height: 400%;
    width: 400%;
    vertical-align: middle;
    transform: scale(0.25);
    transform-origin: 0 0;
  }
}