.alterocio {
  margin: 1rem 1rem;

  @include media('tablet') {
    margin: 0 2rem;
  }

  &__summary {
    font-weight: 300;
    list-style: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0;

    @include media('tablet') {
      margin-bottom: 0.5rem;
      padding: 0.3rem 0;
    }
  }

  &__details[open] summary~* {
    animation: open 0.3s ease-in-out;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__details &__summary::-webkit-details-marker {
    display: none;
  }

  &__details &__summary:after {
    content: "+";
    position: absolute;
    font-weight: 300;
    font-size: 50px;
    right: 25px;
    transform-origin: center;
    transition: 200ms linear;

    @include media('tablet') {
      font-size: 70px;
      right: 40px;
      top: auto;
    }
  }

  &__details[open] summary:after {
    transform: rotate(45deg);
  }

  &__card {
    display: flex;
    justify-content: center;

    &--border {
      border-bottom: 1px solid white;
    }

    &--genesis {
      color: #bd1616;
      margin: 0;
      font-size: 40px;
      padding-bottom: 4px;
      letter-spacing: -3px;
      font-weight: 300;

      @include media("tablet") {
        font-size: 50px;
      }

      .alterocio__card--summary:first-child {
        border-bottom: 2px solid #bb0909;
      }

      .alterocio__card--summary:after {
        color: #bb0909;
      }

      .alterocio__card--header::after {
        color: #bb0909;
      }

      .alterocio__card--header:hover {
        color: #bb0909;
        cursor: pointer;
      }
    }

    &--mercurio {
      color: rgb(142, 79, 209);
      margin: 0;
      font-size: 40px;
      padding-bottom: 4px;
      letter-spacing: -3px;
      font-weight: 300;
      @include media("tablet") {
        font-size: 50px;
      }

      .alterocio__card--summary:first-child {
        border-bottom: 2px solid rgb(142, 79, 209);
      }

      .alterocio__card--summary:after {
        color: rgb(142, 79, 209);
      }

      .alterocio__card--header::after {
        color: rgb(142, 79, 209);
      }
      .alterocio__card--header:hover {
        color: rgb(142, 79, 209);
        cursor: pointer;
      }
    }

    &--blue {
      color: rgb(59, 100, 188);
      margin: 0;
      font-size: 40px;
      padding-bottom: 4px;
      letter-spacing: -3px;
      font-weight: 300;
      @include media("tablet") {
        font-size: 50px;
      }

      .alterocio__card--summary:first-child {
        border-bottom: 2px solid rgb(59, 100, 188);
      }

      .alterocio__card--summary:after {
        color: rgb(59, 100, 188);
      }

      .alterocio__card--header::after {
        color: rgb(59, 100, 188);
      }
      .alterocio__card--header:hover {
        color: rgb(59, 100, 188);
        cursor: pointer;
      }
    }

    &--semillas {
      color: #86A54F;
      margin: 0;
      font-size: 40px;
      padding-bottom: 4px;
      letter-spacing: -3px;
      font-weight: 300;
      @include media("tablet") {
        font-size: 50px;
      }

      .alterocio__card--summary:first-child {
        border-bottom: 2px solid #86A54F;
      }

      .alterocio__card--summary:after {
        color: #86A54F;
      }

      .alterocio__card--header::after {
        color: #86A54F;
      }
      .alterocio__card--header:hover {
        color: #86A54F;
        cursor: pointer;
      }
    }

    &--florecer {
      color: rgb(223, 189, 64);

      summary {
        border-bottom: 2px solid rgb(223, 189, 64);
      }

      summary:after {
        color: rgb(223, 189, 64);
      }
    }

    &--viento {
      border: 2px solid rgb(79, 159, 209);

      summary:after {
        color: rgb(79, 159, 209);
      }
    }

    &--header {
      margin-bottom: 0;
      flex-direction: column;
      list-style-type: square;
      font-size: 33px;
      color: white;
      font-weight: 400;
      margin: 0;
      line-height: 33px;
      list-style: revert;
      padding: .5rem 0;
    }
    &--header::marker {
      font-size: 22px;
    }

    &--grid {
      display: grid;
      grid-template-columns: 1fr;
      @include media('tablet') {
        grid-template-columns: 1fr 1fr;
      }
    }

  }

  audio {
    width: 100%;
    height: 32px;

    @include media('tablet') {
      width: 420px;
    }
  }

}

.genesis__section {

  .swiper {
    width: 100%;
    height: 100%;
    min-height: 460px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   max-height: 420px;
  //   object-fit: cover;
  // }

  // .card__content-image {
  //   min-height: 420px !important;
  //   width: 100% !important;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background: black;
  // }

}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active-next .swiper-pagination-bullet-active-prev {
  background-color: white !important;
}