@font-face {
  font-family: 'Helvetica';
  src: url('../../resources/typo/Helvetica-CE-Medium.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Iceberg&display=swap');


.bejuco {
  background-color: #133131;
  font-family: 'Helvetica', sans-serif;
  margin: auto 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  
  // B E J U J Ó N
  &__bejucote {
    width: 50%;
    height: 70vh;
  }

  &__bejucos {
    width: 50%;
  }

  &__bejuquitos {
    width: 50%;
    height: 30vh;
  }

  &__title {
    font-size: 170px;
    line-height: 150px;
    padding-top: 3rem;
    font-family: 'Iceberg', sans-serif;
    color: #605031;
    text-transform: uppercase;
    margin: 0;

    &--small {
      color: #605031;
      text-transform: uppercase;
      font-family: "Iceberg", sans-serif;
      font-size: 90px;
      margin: 0;
    }
  }

  &__description {
    font-weight: 200;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 0 3.8rem;
    padding-top: 2rem;
    color: #676767;
    font-family: "Helvetica";
  }

  &__blur {
    position: absolute;
    z-index: 0;

    img {
      filter: blur(3px);
    }
  }

  &__slide {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    margin: 2rem 3.8rem;

    &--content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    img {
      z-index: 1;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  body {
    background: #000;
    color: #000;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
}

